#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardBody {
  padding: 2em;
  background-color: white;
}

.cardMain {
  background-color: pink;
}

.cardBox {
  background-color: lightpink;
  max-width: 500px;
  min-width: 400px;
  max-height: 500px;
  margin: 2em;
}

.read-the-docs {
  color: #888;
}
